<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="static/search.css">
</head>

<body>
<div class="shell">
  <input type="text" placeholder="Search" id="search_content">
  <a href="#">
    <i class="fa fa-hand-o-right" onclick="search()"></i>
    <i class="fa fa-search"></i>
  </a>
</div>
</body>
<script src="static/search.js"></script>
</html>